{% extends "base.html" %}

{% block announce %}
    <div class="header-info">
      <a href="/">
        <img src="/assets/images/avatar.png" class="author-picture img-circle"></img>
      </a>
      <div class="indicator">
          <img src="/assets/images/indicator.svg"></img>
      </div>
      <p class="author-name">Daniel Huckaby</p>
      {% include "partials/social.html" %}
    <div>
    <style>
      .md-header__title {
         text-indent: -10000px;
      }
      .md-grid {
         max-width: 40rem;
      }
      .md-main__inner {
         margin-bottom: 1.5rem;
      }
    </style>
{% endblock %}

