<header class="site-header" role="banner">

  <div class="wrapper">
    {%- assign default_paths = site.pages | map: "path" -%}
    {%- assign page_paths = site.header_pages | default: default_paths -%}

    <div class="header-info">
      <a href="/">
        <img src="/assets/about/avatar.png" class="author-picture img-circle"></img>
      </a>
      <p class="author-name">Daniel Huckaby</p>
      <p class="author-title">Android Developer</p>
      <div>
        <a class="header-option" href="/"><span class="header-option-text">Projects</span></a>
        <a class="header-option" href="https://github.com/{{ site.github_username| cgi_escape | escape }}"><span class="header-option-text">GitHub</span></a>
        <a class="header-option" href="https://www.linkedin.com/in/{{ site.linkedin_username| cgi_escape | escape }}"><span class="header-option-text">LinkedIn</span></a>
      </div>
    </div>
  </div>
</header>
