<p class="post-meta" style="padding-bottom:20px;">
  <span style="padding-right:16px;">
    <span class="repo-language-color" style="background-color:{{ include.page.project_language_color }};"></span>
    {{ include.page.project_language }}
  </span>
  <wbr>
    <span style="padding-right:16px;">
      <span class="text-emphasized">{{ include.page.project_commits }}</span>
      commits
    </span>
    <wbr>
  <span class="text-nowrap"> Last commit on {{ include.page.project_last_commit }} </span>
</p>
