.header-info {
    text-align: center;
    margin-bottom: -10px;
}

.indicator {
    width: 28px;
    height: 28px;
    margin: auto;
    right: -37px;
    margin-top: -38px;
    position: relative;
    z-index: 3;
}

.repo-language-color {
    border-radius: 50%;
    display: inline-block;
    height: 12px;
    position: relative;
    margin-right: 1px;
    width: 12px;
}

.author-picture {
    width: 100px;
    border-radius: 50px;
    margin-top: 10px;
    position: relative;
    z-index: 1;
}

.author-name {
    font-size: 22px;
    margin-top: 10px;
    margin-bottom: -5px;
}

.md-header__title {
    text-indent: -10000px;
}

.md-grid {
     max-width: 40rem;
}

.md-main__inner {
     margin-bottom: 1.5rem;
}

@media only screen and (max-width: 501px) {
    .md-header__title {
        text-indent: 0px;
    }
}

#video{
  object-fit: initial;
  width: 270px;
  height: 570px;
}
